body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg,#0f0c29,#302b63,#24243e);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  overflow: hidden;
}

.container {
  width: 390px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  padding: 25px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.25);
  text-align: center;
  animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: #fff;
  font-size: 15px;
}

button {
  width: 100%;
  margin-top: 12px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(to right,#6a11cb,#2575fc);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.loader {
  display: none;
  margin: 18px auto;
  border: 4px solid rgba(255,255,255,0.2);
  border-top: 4px solid #00eaff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {transform: rotate(360deg);}
}

.probBox {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  display: none;
}

.probBar {
  width: 100%;
  background: rgba(255,255,255,0.2);
  border-radius: 12px;
  overflow: hidden;
  height: 18px;
  margin-top: 8px;
}
.probFill {
  height: 100%;
  width: 0%;
  background: #ff4f7b;
  transition: width 0.8s;
}

.resultTag {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 700;
}
